@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #f2f2f2;
  --sidebar-color: #fff;
  --primary-color: #3a3b3c;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  --tran-01: all 0.1s ease;
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  height: 100vh;
  background-color: rgb(226, 232, 240);
  transition: margin-left var(--tran-04);
  margin-left: 6%;
  transition: var(--tran-04);
}
body.side {
  margin-left: 16%;
  transition: var(--tran-04);
}
body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}
/* 
html,
body {
  overflow: hidden;
} */

/* =========================== Sidebar =========================== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 16%;
  padding: 10px 14px;
  background-color: rgb(226, 232, 240);
  transition: var(--tran-04);
  z-index: 100;
}
.sidebar.close {
  width: 6%;
}

.sidebar .text {
  font-size: 14px;
  font-weight: 700;
  color: var(--text-color);
  transition: var(--tran-04);
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
  pointer-events: none;
  transition: var(--tran-02);
}
.sidebar li {
  height: 35px;
  margin-top: 15px;
  list-style: none;
  display: flex;
  align-items: center;
}
.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}
.sidebar li .icon,
.sidebar li .icon.text {
  color: var(--text-color);
  transition: var(--tran-04);
}
.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  height: 35px;
  margin-top: 5px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar .image {
  display: flex;
  align-items: center;
  min-width: 65px;
}

.sidebar .image img {
  width: 75%; 
  margin-left: 5%; 
}

.sidebar .text {
  margin-left: 10px; 
}

.sidebar header a {
  text-decoration: none;
}

.sidebar header .toggle {
  display: none !important;
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
  transition: var(--tran-03);
}
.sidebar.close header .toggle {
  transform: translateY(-50%);
}
body.dark .sidebar header .toggle {
  color: var(--text-color);
}
.sidebar .menu {
  margin-top: 0px;
}
.sidebar .search-box {
  background: var(--primary-color-light);
  border-radius: 6px;
  transition: var(--tran-04);
}
.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background: var(--primary-color-light);
  border-radius: 6px;
  transition: var(--tran-04);
}
body.dark .search-box .search {
  color: #fff;
}

.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: var(--tran-04);
  border-radius: 6px;
}
.sidebar li a:hover {
  /* background: var(--primary-color); */
  background-color: #002df3;
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}
.sidebar .menu-bar {
  height: calc(100% - 35px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.menu-bar .mode {
  position: relative;
  border-radius: 6px;
  /* background: var(--primary-color-light); */
}
.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
  transition: var(--tran-04);
}
.menu-bar .mode i {
  position: absolute;
  transition: var(--tran-04);
}
.menu-bar .mode i.sun {
  opacity: 0;
}
body.dark .menu-bar .mode i.sun {
  opacity: 1;
}
body.dark .menu-bar .mode i.moon {
  opacity: 0;
}
.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  /* background: var(--primary-color-light); */
  border-radius: 5px;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  background: var(--toggle-color);
  border-radius: 25px;
  transition: var(--tran-04);
}
.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  transition: var(--tran-03);
}
body.dark .switch::before {
  left: 24px;
}

/* =========================== Dropdown =========================== */
.sub-menu a {
  display: none;
}
.sub-menu.open a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 5px;
  border-radius: 6px;
  transition: var(--tran-04);
}
.sub-menu a:hover,
.sub-menu a:hover .text {
  background: var(--primary-color);
  color: var(--sidebar-color);
}
body.dark .sub-menu a:hover,
body.dark .sub-menu a:hover .text {
  background: var(--primary-color);
  color: var(--text-color);
}

.sidebar li a .dropdown {
  right: 0;
  position: absolute;
  margin: 20px;
  transition: var(--tran-04);
  color: var(--text-color);
}

.sidebar.close .dropdown {
  display: none;
  transition: var(--tran-04);
}
.sidebar li a:hover .dropdown {
  color: var(--sidebar-color);
}
body.dark .sidebar .dropdown {
  color: var(--text-color);
}
body.dark .sidebar a:hover .dropdown {
  color: var(--text-color);
}

/* =========================== Index =========================== */
.home {
  position: relative;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background: var(--body-color);
  transition: var(--tran-05);
}
.home.text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 8px 40px;
}
.sidebar.close ~ .home {
  left: 88px;
  width: calc(100% - 88px);
}

/* ============================== DataTable ============================== */

.dataTables_wrapper {
  margin-top: 0px;
  padding: 20px;
  transition: var(--tran-04);
}
body.side .dataTables_wrapper {
  transition: var(--tran-04);
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: inherit;
}

body.dark .table,
body.dark .dataTables_wrapper {
  border-color: #fff !important;
  color: #fff;
}

body.dark {
  --dt-row-hover: 255, 255, 255;
}

body.dark .dataTables_filter input,
body.dark .dataTables_length select {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #18191a;
  transition: var(--tran-01);
}
body.dark table.dataTable.row-border > tbody > tr > th,
body.dark table.dataTable.row-border > tbody > tr > td,
body.dark table.dataTable.display > tbody > tr > th,
body.dark table.dataTable.display > tbody > tr > td {
  border-top: 1px solid;
  border-color: #fff;
}

/* ============================== Modal ============================== */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  max-width: 400px;
  animation: growModal 0.5s;
}
body.dark .modal-content {
  background: var(--primary-color-light);
  border-color: var(--primary-color-light);

}

@keyframes growModal {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.modal .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header,
.modal-footer {
  padding: 10px 0;
  border-top: 1px solid #ddd;
  text-align: center;
}

.modal-body {
  padding: 10px 0;
  overflow-y: auto;
  max-height: 250px;
}

.modal-footer button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.modal-footer .accept-button:hover {
  background-color: #0056b3;
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.modal-content input[type="text"],
.modal-content input[type="password"],
.modal-content input[type="email"],
.modal-content select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.modal-content select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.modal-content input[type="file"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.modal-content input[type="file"]::file-selector-button {
  border: 1px solid #007bff;
  color: #007bff;
  background-color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

body.dark .modal-content input[type="file"]::file-selector-button {
  background: var(--sidebar-color);
}
body.dark .modal-content input[type="file"]::file-selector-button:hover {
  background-color: #007bff;
  color: #fff;
}
.modal-content input[type="file"]::file-selector-button:hover {
  background-color: #007bff;
  color: #fff;
}

.modal .accept-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: inline-block;
}
.modal .report-button {
  background-color: #ffc107;
  color: #212529;
  border: none;
  border-radius: 5px;
  display: inline-block;
}
.modal .delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: inline-block;
}
.modal .cancel-button {
  background-color: #545454;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: inline-block;
}

.modal .cancel-button:hover {
  background-color: #3a3a3a;
}

.modal .accept-button:hover {
  background-color: #0056b3;
}

.modal .delete-button:hover {
  background-color: #c82333;
}

.modal .report-button:hover {
  background-color: #ffac00;
  color: #000;
}

/* ============================== Content ============================== */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-center {
  text-align: center;
}

.columns {
  display: flex;
  justify-content: center;
}

.column {
  margin: 10px 10px;
  
}
.columns {
  display: flex;
}

.column {
  flex: 1;
  margin-right: 10px;
}

.mb-3 {
  margin-bottom: 1.5rem;
}
.control {
  display: flex;
  flex-direction: column;
}

.control label {
  margin-bottom: 5px;
}

body.dark .text-content {
  color: var(--text-color);
  transition: var(--tran-03);
}
body.dark .form-control {
  background: var(--sidebar-color);
  border-color: var(--sidebar-color);
  color: var(--text-color);
  transition: var(--tran-03);
}

.form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: var(--tran-03);
}

.button {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #007bff;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button.is-info {
  background-color: #007bff;
  border-color: #007bff;
}

.button.is-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.button.is-cancel {
  background-color: #545454;
  border-color: #545454;
}

.button.is-info:hover,
.button.is-info:focus {
  background-color: #0056b3;
  border-color: #0056b3;
}

.button.is-danger:hover,
.button.is-danger:focus {
  background-color: #c82333;
  border-color: #c82333;
}

.button.is-cancel:hover,
.button.is-cancel:focus {
  background-color: #3a3a3a;
  border-color: #3a3a3a;
}

.button.is-rounded {
  border-radius: 50px;
}
.profile-img {
  max-width: 200px;
  border: 4px solid #000000;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: var(--tran-03);
}
body.dark .profile-img {
  border: 4px solid #b0b0b0;
  transition: var(--tran-03);
}

/* ============================== Buttons ============================== */
.primary-button {
  position: absolute;
  top: 80px;
  left: 45%;
  transform: translateX(-50%);
  z-index: 999;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  margin-right: 20px;
}

.warning-button {
  background-color: #ffc107;
  color: #212529;
  border: none;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  margin-right: 20px;
}

.danger-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  margin-right: 20px;
}

.primary-button:hover {
  background-color: #0056b3;
}

.danger-button:hover {
  background-color: #c82333;
}

.warning-button:hover {
  background-color: #ffac00;
  color: #000;
}
