RewriteEngine On
Options All -Indexes

RewriteCond %{THE_REQUEST} \s/([a-zA-Z0-9/ñÑ-]+)/index[/?\s] [NC]
RewriteRule ^([a-zA-Z0-9/ñÑ-]+)/index$ /$1 [R=301,L]

RewriteCond %{THE_REQUEST} \s/([a-zA-Z0-9/ñÑ-]+)/home[/?\s] [NC]
RewriteRule ^([a-zA-Z0-9/ñÑ-]+)/home/?$ /$1 [R=301,L]

RewriteCond %{THE_REQUEST} \s/([a-zA-Z0-9/ñÑ-]+)/home/[/?\s] [NC]
RewriteRule ^([a-zA-Z0-9/ñÑ-]+)/home/$ /$1/home [R=301,L]

RewriteCond %{THE_REQUEST} \s/([a-zA-Z0-9/ñÑ-]+)/index/.*[/?\s] [NC]
RewriteRule ^([a-zA-Z0-9/ñÑ-]+)/index/.*$ /$1 [R=301,L]

RewriteCond %{THE_REQUEST} \s/home/[/?\s] [NC]
RewriteRule ^home/$ /home [R=301,L]

RewriteCond %{THE_REQUEST} \s/home[/?\s] [NC]
RewriteRule ^home$ / [R=301,L]

RewriteCond %{THE_REQUEST} \s/home/dashboard[/?\s] [NC]
RewriteRule ^home/dashboard$ /dashboard [R=301,L]
RewriteRule ^dashboard$ home/dashboard [L,QSA]

RewriteCond %{THE_REQUEST} \s/profile/user[/?\s] [NC]
RewriteRule ^profile/user$ /updateUser [R=301,L]
RewriteRule ^updateUser$ profile/user [L,QSA]

RewriteCond %{THE_REQUEST} \s/Login/logout[/?\s] [NC]
RewriteRule ^Login/logout$ /logout [R=301,L]
RewriteRule ^logout$ Login/logout [L,QSA]

RewriteCond %{THE_REQUEST} \s/Account/account[/?\s] [NC]
RewriteRule ^Account/account$ /account [R=301,L]
RewriteRule ^account$ Account/account [L,QSA]

RewriteCond %{THE_REQUEST} \s/Account/verify[/?\s] [NC]
RewriteRule ^Account/verify$ /verify [R=301,L]
RewriteRule ^verify$ Account/verify [L,QSA]

RewriteCond %{THE_REQUEST} \s/Account/recover[/?\s] [NC]
RewriteRule ^Account/recover$ /recover [R=301,L]
RewriteRule ^recover$ Account/recover [L,QSA]

RewriteCond %{QUERY_STRING} !^url=
RewriteRule ^([a-zA-Z0-9/ñÑ-]+)$ index.php?url=$1 [QSA]
