@tailwind base;
@tailwind components;
@tailwind utilities;


  .searcher input:focus-within label {
    font-size: 0.75rem; /* Tamaño de fuente más pequeño */
    top: -0.75rem; /* Mover el label hacia arriba */
    color: #718096; /* Cambiar el color del texto */
}
