<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/css/styles.css">
    <title>Document</title>
</head>

<body class="flex flex-col items-center justify-center h-screen">
    <section class="bg-gray-100 rounded-xl w-7/12 mx-auto h-fit flex relative">
        <header class="flex">
            <h1 class="text-black flex justify-start w-full text-2xl font-bold mt-5 ml-5">FOR <span class="text-blue-500 ml-2">US</span></h1>
            <div class="text-gray-400 w-8 h-8 transition-all cursor-pointer mt-5 mr-5">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path class="fill-current" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/>
                </svg>
            </div>
        </header>

        <form action="#" class="flex flex-col w-6/12 relative mt-10 ml-5">
            <section class="flex gap-5">
                <input
                id="input_id"
                name="input"
                type="text"
                class="border-b-2 border-t-1 border-gray-300 py-1 focus:border-b-2 focus:border-gray-400 transition-colors focus:outline-none bg-inherit bg-gray-200 rounded-full px-5 text-gray-400 font-semibold w-5/12 shadow-md"
                />
                
                <input
                id="input_id"
                name="input"
                type="text"
                class="border-b-2 border-t-1 border-gray-300 py-1 focus:border-b-2 focus:border-gray-400 transition-colors focus:outline-none bg-inherit bg-gray-200 rounded-full px-5 text-gray-400 font-semibold w-5/12 shadow-md"
                />
            </section>
        
            <input
            id="input_id"
            name="input"
            type="text"
            class="border-b-2 border-t-1 border-gray-300 py-1 focus:border-b-2 focus:border-gray-400 transition-colors focus:outline-none bg-inherit bg-gray-200 rounded-full px-5 text-gray-400 font-semibold w-11/12 mt-5 shadow-md"
            />

            <textarea class="relative rounded-lg px-6 py-2 text-2xl text-gray-400 bg-gray-100 w-10/12 resize-none outline-none -h-28 font-semibold mt-10 shadow-md mb-10" rows="5" maxlength="380"></textarea>
            </form>
        

        
    </section>
</body>

</html>
