<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foronu Hub - Login</title>
    <link rel="stylesheet" href="../../../../css/register.css">
</head>

<body>
    <body>

        <div class="container-form">
            <div class="login-form">
                <h1><b><span class="white-text">Create</span><span class="blue-text"> Account</span></b></h1>
                <div class="input-container">
                    <input id="username" type="text" placeholder="Enter your user" required>
                    <span id="username-validation-icon" class="validation-icon">&#10006;</span>
                    <span id="username-success-icon" class="success-icon" style="display: none;">&#10004;</span>
                    <div id="username-error" class="error-text"></div> <!-- Nuevo elemento para el mensaje de error -->
                </div>
                <input type="email" placeholder="Enter your email" required>
                <input type="password" placeholder="Enter your password" required>
                <input type="password" placeholder="Confirm your password" required>
                <div>
                    <a href="login.html"><span class="white-text">Do you already</span> <span class="blue-text"> have an account?</span></a>
                </div>
                <button type="submit">Log in</button>
            </div>
        </div>
        
        <script>
            var usernameInput = document.getElementById("username");
            var validationIcon = document.getElementById("username-validation-icon");
            var successIcon = document.getElementById("username-success-icon");
            var usernameError = document.getElementById("username-error"); // Nuevo elemento para el mensaje de error
        
            usernameInput.addEventListener("input", function() {
                var username = this.value.trim();
        
                if (username.length < 7 || username.length > 50) {
                    validationIcon.style.display = "inline-block";
                    successIcon.style.display = "none"; // Ocultar el icono de éxito
                    usernameError.textContent = "Username must be between 7 and 50 characters"; // Mostrar el mensaje de error
                    usernameError.style.color = "red"; // Cambiar el color del texto a rojo
                } else {
                    validationIcon.style.display = "none";
                    successIcon.style.display = "inline-block"; // Mostrar el icono de éxito
                    successIcon.style.color = "green"; // Cambiar el color del icono a verde
                    usernameError.textContent = "Your username is valid"; // Mostrar el mensaje de error
                    usernameError.style.color = "green"; // Cambiar el color del texto a rojo
                }
            });
        </script>
        
    </body>
    
</body>

</html>
