RewriteEngine On
Options All -Indexes
RewriteRule ^([a-zA-Z0-9/ñÑ-]+)$ index.php?views=$1
RewriteCond %{HTTP_REFERER} !^http://localhost/For-Us/app/ [NC]

RewriteCond %{REQUEST_URI} ^/For-Us/app/user/(requestControllers|controllers|models|views)/(?!logout\.php) [NC]
RewriteRule ^ /For-Us/app/404 [R=301,L]
